<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/navbar.ejs') %>

            <div class="blogs content">
                <h2 class="spl" style="color: rgb(6, 155, 6);">
                    <%= title %> EXPERIENCES
                </h2>
                <button class="spl" onclick="window.location.href='/blogs/create'">share Experience</button>
                <% if(title!=='PERSONAL' ){ %>
                    <form class="searchbar" action="/blogs/company" method="get">
                        <input type="text" placeholder="search by company name" name="search" required>
                        <button>search</button>
                    </form>
                    <% } %>
                        <% if (blogs.length> 0) { %>
                            <% blogs.forEach(blog=> { %>
                                <a class="single" href="/blogs/<%= blog._id %> ">
                                    <h3 class="title">
                                        <%= blog.title %>
                                    </h3>
                                    <p class="snippet">
                                        <%= blog.snippet %>
                                    </p>
                                </a>
                                <% }) %>
                                    <% } else { %>
                                        <p>There are nothing to display...</p>
                                        <% } %>

            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>